<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Fashion Recommender Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>  
  </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Fashion Store</a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Shopping</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Trending Fashions</div>
    <div class="sub_title">Buy here</div>
    <div class="btns">
      <button><a href="/login">Sign in</a></button>
      <button>Shop here</button>
    </div>
  </div>
</body>
</html>
