<br>
<br>
<br>
<h1
    style="  text-align:center;

background: rgb(174, 12, 90);
background: linear-gradient(90deg, rgb(166, 62, 236)0%, rgb(205, 30, 30) 50%, rgb(239, 165, 60) 100%);
color: rgb(252, 252, 252);
    "
    >HOME PAGE</h1>
    <h1
   style="background-color:rgb(161, 193, 166) ;
   font-size: 14px;
 margin-top: 420px;
 height: 30px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align:center;
  bottom: 0;
  color: white;
   "
   >
   Made  by Jeevithan
   </h1>